.color {
  color: #f6e4a0;
  color: #8c9569;
  color: #f28f00;
  color: #f7d38f;
  color: #46474a;
}
.item_container {
  position: relative;
  margin: auto;
  width: 160px;
  height: 223px;
  overflow: hidden;
  border-radius: 360px 360px 30px 30px;
  background-color: #f6e4a0;
  border: none;
  overflow: hidden;
  box-shadow: 0 5px 5px -2px #46474a81;
}
.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
}

.img_container .img {
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 5px 5px -2px #46474a81;
}
.title {
  text-align: center;
  color: #46474a;
  font-weight: 700;
  letter-spacing: 1px;
}
.price {
  color: #46474a;
  font-weight: 700;
  text-align: center;
}
.icon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px 5PX 5PX 5PX;
}
.icon_link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #7fd100;
  border-radius: 50%;
  z-index: 10;
}
.icon_link_faHeart {
  background: #FDFFE7;
  border: 2px solid #d4c140;
}
.icon_item {
  font-size: 1.5em;
  text-align: center;
  margin: auto;
}
.icon_faHeart {
  color: #d4c140;
}
.icon_faPlus {
  color: #FDFFE7;
}
.plus  {
  border: 2px solid #7fd100;
  height: 36px;
  width: 100%;
  background: none;
  background-color: none;
  border-radius: 9px;
}
.plus input {
  border-radius: 9px;
  height: 32px;
  width: 100%;
  padding: 10px;
  background-color: #FDFFE7;
  border: none;
  color: #49331d;
}
/*p {
  font-size: 1em;
  text-align: center;
}*/
.plus:hover {
  background-color: #9a7b4f;
}
.size {
  margin-top: 0;
  padding: 5px;
}
.description {
  color: #FDFFE7;
  padding: 5px;
  font-size: 0.85em;
}
.multiselect {
  width: 200px;
}
.info {
  letter-spacing: 0.5px;
}

/*strong {
  color: #e9c46a;
  font-size: 18px;
}*/

.additional_info {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  padding: 5px;
  color: #49331d;
  font-size: 1em;
}
.modal_container {
  display: block;
  align-items: start;
  background-color: #FDFFE7;
}
.modal_container ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.modal_container li {
    text-decoration: none;
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 600;
}
.modal_container li:hover,
.modal_container .link:hover  {
    color: #e9c46a;
}
.custom_checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #7fd100;
}
.custom_checkbox_span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #e9c46a;
}
.checkbox_form {

}
.link {
    display: flex;
    color: #7fd100;
    text-decoration: none;
    font-size: 0.85em;
    text-align: center;
    margin: auto;
}
.link p {
  display: flex;
  color: #d4c140;
  text-decoration: none;
  padding: 0 5px;
  text-align: center;
  margin: auto;
}
.modal_container p {
    font-weight: 700;  
}
.modal_container p {
    font-weight: 700;  
}
.modal_title {
    color: #49331d;
    background-color: #7fd100;
    width: 100%;
    height: 100%;
}
  
.action {
  color: #FDFFE7;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  outline: none;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
  border: 2px solid #7fd100;
  border-radius: 9px;
}

.item_container:hover .action {
  top: 30px;
}

.action:hover {
  background: #58391cab;
}

  
  @media screen and (max-width: 1024px) {
 
  }
  
  @media screen and (max-width: 700px) {

  }
  
  @media screen and (max-width: 600px) {
  
  }
  
  @media screen and (max-width: 480px) {

  }
  